{% extends 'base.html' %}
{% block content %}
<div class="col-md-4 offset-md-3"><br><br>
  <form method="POST" action="{% url 'index' %}">
    {% csrf_token %}
      <div class="mb-3">
          <input type="text" class="form-control" name="username" placeholder="Usuario" required>
      </div><br>
      <div class="mb-3">
          <input type="password" class="form-control" name="password" placeholder="Contraseña" required>
      </div><br>
      <div class="text-center">
        <div class="d-inline-flex gap-5">
          <button type="submit" class="btn btn-primary">Ingresar</button>
          <!-- para deshabilitar el botón Registro, agrego 'disabled':
          <button type="button" class="btn btn-secondary disabled" disabled>Registro</button> 
          -->
          <a href="{% url 'register' %}" class="btn btn-secondary" role="button">Registro</a>
          <!-- <button type="button" class="btn btn-secondary">Registro</button> -->
          
        </div>
      </div>   
  </form>
</div>
{% endblock %}