{% extends 'base.html' %}
{% block content %}

<nav class="navbar navbar-expand-lg" style="background-color: #d8e7ec;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">CargaV</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">  <!-- ms-auto para alinear a la derecha -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Salir</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<br>
<h4>Reporte</h4>
<i>working on</i>
<hr>
<div style="display: flex; align-items: center; justify-content: space-between; gap: 30px;">
  <h3>Conductores</h3>
  <div>
    <button class="btn btn-sm btn-outline-secondary">Agregar Conductor</button>
    <button class="btn btn-sm btn-outline-secondary">Desafectar Conductor</button>
  </div>
</div>

<!-- tabla conductores -->

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Usuario</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">No. Documento</th>
      <th scope="col">Dirección</th>
      <th scope="col">Otros</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>Otto</td>      
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>John</td>
      <td>Doe</td>
      <td>@social</td>
      <td>John</td>
      <td>Doe</td>
      <td>@social</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<!-- fin tabla conductores-->

<hr>
<div style="display: flex; align-items: center; justify-content: space-between; gap: 30px;">
  <h3>Vehículos</h3>
  <div>
    <button class="btn btn-sm btn-outline-secondary">Buscar</button>
    <button class="btn btn-sm btn-outline-secondary">Descargar Reporte</button>
  </div>
</div>

<!-- tabla vehiculos -->

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Marca</th>
      <th scope="col">Patente</th>
      <th scope="col">Año</th>
      <th scope="col">Kilometraje</th>
      <th scope="col">Combustible</th>            
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>            
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>@mdo</td>
      <td>@mdo</td>            
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>John</td>
      <td>Doe</td>
      <td>@social</td>
    </tr>
  </tbody>
</table>

<!-- fin tabla vehículos -->

<hr>
<div style="display: flex; align-items: center; justify-content: space-between; gap: 30px;">
  <h3>Viajes</h3>
  <div>
    <button class="btn btn-sm btn-outline-secondary">Buscar</button>
    <button class="btn btn-sm btn-outline-secondary">Descargar Reporte</button>
  </div>
</div>

<!-- tabla viajes -->

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Fecha</th>
      <th scope="col">Hora Carga</th>
      <th scope="col">Vehículo</th>
      <th scope="col">Tipo Carga</th>
      <th scope="col">Lugar Carga</th>
      <th scope="col">Hora Descarga</th>
      <th scope="col">Lugar Descarga</th>
      <th scope="col">Kilometros</th>
      <th scope="col">Litros</th>
      <th scope="col">Importe</th>
      <th scope="col">Kilometraje</th>
      <th scope="col">Litros/Viaje</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>John</td>
      <td>Doe</td>
      <td>@social</td>
      <td>John</td>
      <td>Doe</td>
      <td>@social</td>
      <td>John</td>
      <td>Doe</td>
      <td>@social</td>
      <td>John</td>
      <td>Doe</td>
      <td>@social</td>
    </tr>
  </tbody>
</table>
<br><br><br>

<!-- fin tabla viajes -->

{% endblock %}