{% extends "base.html" %}

{% block content %}
<div class="container mt-5 text-center">
    <h2>¡Buen viaje!</h2>
    <p>Has registrado correctamente un nuevo viaje para el vehículo:</p>
    <h4>{{ trip.truck.brand }} {{ trip.truck.moddel }} ({{ trip.truck.plate_number }})</h4>
    <p><strong>Fecha:</strong> {{ trip.date }} | <strong>Hora de carga:</strong> {{ trip.end_load_time }}</p>

    <div class="mt-4">
        <a href="{% url 'fuel_register' trip.id %}" class="btn btn-outline-primary btn-lg me-3">
            Cargar Combustible
        </a>
        <a href="{% url 'unload_register' trip.id %}" class="btn btn-outline-success btn-lg">
            Descargar
        </a>
    </div>
</div>
{% endblock %}
